<header>
	<h1>Login</h1>
</header>

<div id="container-salmon">
	<%= form_for(:session, url: login_path) do |f| %>
	<table class="form">
		<tr><td>
			<h2><%= f.label :email %></h2>
		</td><td>
			<%= f.email_field :email %>
		</td></tr>

		<tr><td>
			<h2><%= f.label :password %></h2>
		</td><td>
			<%= f.password_field :password %>
		</td></tr>

		<tr><td>
			<h3><%= f.label :remember_me, "Keep me logged in on this computer" %></h3>
			<%= f.check_box :remember_me, { checked: true } %>
		</td></tr>

		<tr><td>
			<%= f.submit 'Submit' %>
		</td></tr>
	</table>
	<% end %>
</div>

